<% include partials/head %>

    <body>
        <h2>Top Parses for ...</h2>
        <ul>
            <% for (var idx = 0; idx < statTable.length; idx++) {%>
                <li><%= statTable[idx].playerName %></li>
            <% } %>
        </ul>
    </body>
</html>